<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p class="alert alert-danger"><%= error %></p>
	<% end %>
<% end %>

<div class="container">
	<div class="row">
		<div class="profile-header clearfix">
			<h3><%= current_user.first_name %> <%= current_user.last_name %>'s Profile</h3>
			<div class="col-md-2">
				<div class="profile">
					<div class="profile-pic img-responsive">
						<%= image_tag(@profile_pic.nil? ? (@gender == 'M' ? "profiles/user-default.jpg" : "profiles/user-default-fem.jpg") : @profile_pic, :alt => '') %>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="table-responsive">
					<table class="table table-condensed">
						<tr>
							<td class="strong">Gender</td>
							<td><%=(@gender == 'M' ? 'Male' : 'Female') %></td>
						</tr>
						<tr>
							<td class="strong">Age</td>
							<td><%=@age %></td>
						</tr>
						<tr>
							<td class="strong">My Goal is to</td>
							<td><%=@goal %></td>
						</tr>
						<tr>
							<td class="strong">My Starting Weight is</td>
							<td><%=@gstart_weight %></td>
						</tr>
						<tr>
							<td class="strong">My Target Weight is</td>
							<td><%=@target_weight %></td>
						</tr>
						<tr>
							<td class="strong">My Activity Level is</td>
							<td><%=@activity_level %></td>
						</tr>
					</table>
				</div>
				
					
				<div>
					<%= link_to edit_user_vital_path, :class => 'edit-vitals btn btn-primary btn-sm' do %>
				    <%= content_tag(:span, "" ,:class=>' glyphicon glyphicon-pencil') %> Edit Vitals
				  <% end %>

				  <%= link_to edit_user_path, :class => 'edit-vitals btn btn-success btn-sm' do %>
				  	<%= content_tag(:span, "" ,:class=>' glyphicon glyphicon-pencil') %> Edit Profile
				  <% end %>
				</div>
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-7">
			<div id="user-vitals">
				<%= render 'user_vitals' %>
			</div>
		</div>
		<div class="col-md-5">
			<div id="weight-input-form" class="clearfix">
				<%= render 'weight_input_form' %>
				<span class="notice"></span>
			</div>
			<div class="weight-input-date">Last recorded weight date: <span><%= @weight_input_date %></span></div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div id="goal-date" class="complete-date">
				<%= render 'completion_date' %>
			</diV>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h4>Today's Calories at a Glance</h4>
			<div class="box-container clearfix">
				<div class="bar green-bar">consumed: 1850</div>
				<div class="bar orange-bar">burned: 428</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div id="user-weight-chart" class="clearfix">
				<%= render partial: 'weight_chart', locals: { weight: @weight, target_weight: @target_weight} %>
			</div>			
		</div>
	</div>
</div>