<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(image_tag("trimplify-logo.png", :alt => "logo", :title => "Home"), root_path, class: 'navbar-brand') %>
      <div class="tagline">Weight Loss Management, Simplified!</div>
    </div>
    <div class="collapse navbar-collapse">
      <% if signed_in? %>
        <% if current_user.user_vital != nil %>
        <div class="greeting">
          Hello <%= current_user.first_name %>, <%= link_to "View profile", user_path(current_user.id) %>
        </div>
        <% else %>
          <div class="greeting">
            Hello <%= current_user.first_name %>, <%= link_to "Create profile", new_user_vital_path %>
          </div>
        <% end %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/navigation_links' %>        
      </ul>
    </div>
  </div>
</nav>
